# DotENV
.env

# Fonts
*.otf
*.ttf
*.woff2

# Images
*.png
*.jpg
*.jpeg
*.gif
*.svg
!.github/media/git-flow.svg
!hexforged_com/cdn/images/logo@256x.png

# Logs
hexforged.log

# Checksum files
*.sha512

# Compressed files
*.min.js
*.min.mjs
*.min.css

# Source maps
*.min.map
*.min.css.map

# Visual Studio cache directory
*/.vs/
.vs/
