<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ description }}" />
    <meta name="theme-color" content="#111317" />

    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:image" content="https://cdn.hexforged.com/brand/og-image.png" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://hexforged.com/" />

    <title>{{ title }}</title>

    <link rel="icon" href="{{ icon_svg }}" type="image/svg+xml" />
    <link rel="icon" href="{{ icon_ico }}" sizes="any" />
    <link rel="apple-touch-icon" href="{{ apple_touch }}" />
    <link rel="manifest" href="{{ manifest }}" />
    <link rel="stylesheet" href="{{ fa_all }}" />
    <link rel="stylesheet" href="{{ fa_brands }}" />
    <link rel="stylesheet" href="{{ fa_duotone }}" />
{% preload() %}
{% css() %}

</head>

<body>
