<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ description }}" />
    <meta name="theme-color" content="#111317" />

    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:image" content="https://hexforged.com/cdn/brand/og-image.png" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://hexforged.com/" />

    <title>{{ title }}</title>

    <link rel="icon" href="/cdn/brand/icons/favicon.svg" type="image/svg+xml" />
    <link rel="icon" href="/cdn/brand/icons/favicon.ico" sizes="any" />
    <link rel="apple-touch-icon" href="/cdn/brand/icons/app/hexforged-app-dark-180.png" />
    <link rel="manifest" href="/cdn/brand/icons/site.webmanifest" />
{% css() %}

</head>

<body>
